<h1>Create your new grocery list</h1>

<p>
  <label for="listName">List name:</label> 
  {{input id="listName" value=model.name}}

  <label for="listDescription">List description:</label>
  {{input id="listDescription" value=model.description}}
</p>

{{#each item in model.items}}
  <p>
    <label>Item name:</label> 
    {{input type="text" value=item.name}}

    <label>Item quantity:</label> 
    {{input type="text" value=item.quantity}}
  </p>
{{/each}}

<p><button {{action 'addItem'}}>Add item</button></p>

<p><button {{action 'save'}}>Save list</button></p>
